/*html normalize*/
:root {
    box-sizing: border-box;
    font-size: 10px;

    /*variables*/
    --primarycolor: #fffafa;
    --emphaziscolor: #F400A1;
}

*, *::before, *::after {
    box-sizing: inherit;
    border: 1px solid rgb(76, 224, 76); /*remove later*/
}

/*header*/



/*Main*/

#cover-section {
    height: 100vh;
}
/*Footer*/